body {
    margin: 0;
    padding: 0;
    background: #000000;
    overflow: hidden;
}

body * {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.dialog {
    color: #ffffff;
    position: fixed;
    height:320px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(9, 9, 9);
    border: 1px solid white;
    margin-top: 50%;
    text-align: center;
}

@media (min-width: 600px) {
    .dialog {
        width: 480px;
        left: calc(50% - 240px);
    }
}

.dialog__form {
    width: 60%;
    margin: auto;
}

.menu-screen h2 {
    font-size: 3rem;
    margin-top:1.5rem;
    padding:0px;
}

.dialog input:focus {
    outline: none;
}

.dialog button:focus {
    outline: none;
}
