

.dialog {
    color: #ffffff;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(9, 9, 9);
    border: 1px solid white;
    text-align: center;
}

#player-name-dialog {
    height:320px;
    margin-top: 10%;
}

@media (min-width: 600px) {
    .dialog {
        width: 480px;
        left: calc(50% - 240px);
    }
}

.dialog__form {
    width: 60%;
    margin: auto;
}

.menu-screen h2 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top:1.5rem;
    margin-bottom:10px;
    padding: 0px;
}

.dialog input:focus {
    outline: none;
}

.dialog button:focus {
    outline: none;
}
