#killfeed {
    bottom: 0;
    right: 0;
    width: auto;
    text-align: center;
    margin-top: 0.2rem;
    height: 180px;
    overflow: auto;
    min-width: 200px;
}

#killfeed h2 {
    margin: 0;
}

#toggle-killfeed {
    padding-bottom: 0.8rem;
}

#span_killfeed {
    position: relative;
    top: -2px;
    right:0px;
}

#weapon__span{
    color:rgb(255, 0, 255);
}
#killed__span{
    color:rgb(255, 0, 0);
}
#killer__span{
    color:rgb(18, 230, 18);
}
