#leaderboard {
    top: 0;
    right: 0;
    width:100%;
    min-width: 200px;
    padding:0.75rem;
    text-align: center;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
}

#toggle-leaderboard {
    padding-bottom: 0.8rem;
}

#span__leaderboard {
    position:relative;
    right:7px;
    top:-2px;

}
